{
  "presets":[["es2015", { "modules": false } ], "react"],
  "plugins": ["react-hot-loader/babel", "transform-object-rest-spread", "transform-async-to-generator"],
  "env": {
    "test": {
      "presets": [["es2015"], "react"]
    }
  }
}
