@import 'colors'
@import 'typography'
@import 'nav'
@import 'footer'

body
  background-color: $primary
  color: $body

ul
  list-style: none
  margin: 0px
  padding: 0px

button
  cursor: pointer

button.btn-link.btn-plain
  padding: 0px
  color: white
  text-decoration: none
  color: white
  &:hover, &:focus
    color: white

.page-header
  height: 50px

svg.disabled
  color: $inactive

svg text
  user-select: none

svg:hover
  background: none

svg text::selection
  background: none

input.chat
  width: 100%
  background-color: $secondary
  border-top: 1px solid $inactive
  border-left: 0px
  border-right: 0px
  border-bottom: 0px
  color: $body
  outline: 0
  font-size: 18px
  padding: 12px 65px 12px 12px

.right-border
  border-right: 1px solid $inactive

.bottom-border
  border-bottom: 1px solid $inactive

.sidebar
  top: 0
  bottom: 0
  left: 0
  z-index: 2
  overflow-x: hidden
  overflow-y: auto
  border-right: 1px solid $inactive
  background-color: $secondary

.online-users
  font-size: 11px
  font-weight: bold
  text-transform: uppercase
  color: $inactive
  margin: 10px 0

.chat-container
  margin-top: auto
  width: 100%
  position: fixed
  bottom: 0px
  .chat-preflight-container
    position: relative
    .input-controls
      position: absolute
      right: 0px
      bottom: 0px
      height: 100%
      width: 50px
    .icon
      padding: 12px

.message-stream
  display: flex
  padding: 70px 15px
  overflow: auto
  ul
    width: 100%
    margin-top: auto
    li:last-child
      border-bottom: 0

.activity-item
  margin-bottom: 15px
  &.SEND_MESSAGE
    border-bottom: 1px solid $inactive
    .chat-meta
      font-size: 13px
      .timestamp
        font-size: 11px
        padding-left: 5px
    .chat
      p
        font-size: 16px

.react-modal-overlay
  position: fixed
  top: 0px
  left: 0px
  right: 0px
  bottom: 0px
  background-color: rgba(0, 0, 0, 0.5)
  z-index: 10
  .react-modal-content
    border: 1px solid rgb(204, 204, 204)
    background: rgb(0, 0, 0)
    overflow: auto
    border-radius: 4px
    outline: none
    padding: 20px
    max-width: 500px
    width: calc(100% - 30px)
    margin: 50px auto 0px auto
    .close-modal
      float: right
      padding: 0px
  .react-modal-header
    overflow: auto
    margin-bottom: 20px

.ellipsis
  text-overflow: ellipsis
  overflow: hidden
  white-space: nowrap
