@import 'colors'
@import 'typography'
@import 'nav'
@import 'footer'

body
  background-color: $primary
  color: $body

ul
  list-style: none
  margin: 0px
  padding: 0px

button
  cursor: pointer

button.btn-plain
  color: white
  &:hover, &:focus
    color: white

.page-header
  height: 50px

svg.disabled
  color: $inactive

input.chat
  width: 100%
  background-color: $secondary
  border: 1px solid $inactive
  color: $body
  outline: 0
  font-size: 18px
  padding: 12px 65px 12px 12px

.right-border
  border-right: 1px solid $inactive

.bottom-border
  border-bottom: 1px solid $inactive

.sidebar
  top: 0
  bottom: 0
  left: 0
  z-index: 2
  overflow-x: hidden
  overflow-y: auto
  border-right: 1px solid $inactive
  background-color: $secondary

.chat-message
  .chat-meta
    font-size: 13px
    .username
      font-weight: bold
    .timestamp
      font-size: 11px
      padding-left: 5px
  .chat
    p
      font-size: 16px
  margin-bottom: 10px
  border-bottom: 1px solid $inactive

.online-users
  font-size: 11px
  font-weight: bold
  text-transform: uppercase
  color: $inactive
  margin: 10px 0

.chat-container
  margin-top: auto
  width: 100%
  position: fixed
  bottom: 0px
  .chat-preflight-container
    position: relative
    .input-controls
      position: absolute
      right: 0px
      bottom: 0px
      height: 100%
      width: 50px
    .icon
      padding: 12px

.message-stream
  padding: 70px 15px
