@import 'colors'
@import 'typography'
@import 'nav'
@import 'footer'

body
  background-color: $primary
  color: $body

input.chat
  width: 100%
  padding: 12px
  background-color: $secondary
  border: 1px solid $inactive
  color: $body
  outline: 0
  font-size: 18px

.right-border
  border-right: 1px solid $inactive

.bottom-border
  border-bottom: 1px solid $inactive

.sidebar
  position: fixed
  top: 0
  bottom: 0
  left: 0
  z-index: 2
  overflow-x: hidden
  overflow-y: auto
  border-right: 1px solid $inactive
  background-color: $secondary

.chat-message
  .chat-meta
    font-size: 13px
    .username
      font-weight: bold
    .timestamp
      color: $inactive
      font-size: 11px
      padding-left: 5px
  .chat
    p
      font-size: 16px
  margin-bottom: 20px
  border-bottom: 1px solid $inactive

.online-users
  font-size: 11px
  font-weight: bold
  text-transform: uppercase
  color: $inactive
  margin: 10px 0

.chat-preflight-container
  position: relative
  .icon
    height: 2.25em
    pointer-events: none
    position: absolute
    top: 0
    width: 2.25em
    z-index: 4
    padding: 12px
  .is-right
    right: 20px
