@import 'colors'

.logo
  height: 30px

.nav-container
  position: fixed
  width: 100%
  z-index: 10
  background: black

nav
  border-bottom: 1px solid $inactive
  .meta
    display: flex
    flex-basis: 70%

.navbar-toggler
  border: 0px

ul.navbar-nav
  li
    position: relative
    top: -5px
    svg
      width: 20px
      position: relative
      top: 7px
      margin-right: 5px

@media(min-width: 768px)
  ul.navbar-nav li
    margin-left: 25px

.room-id
  padding-top: 8px

.nav-link
  color: $md-gray !important
  &:hover
    color: white !important

.members-dropdown
  margin-left: 10px
  .dropdown__content 
    background: black
    border-radius: 3px
    border: 1px solid $inactive
    padding: 15px
    width: 150px
  ul
    li
      .me-icon
        width: 15px
        position: relative
        top: 6px
        left: 8px